<ion-tabs>
  <ion-tab-bar slot="bottom" >

    <ion-tab-button (click)="recientes()" >
      <ion-icon name="time" color="primary"></ion-icon >
      <ion-label color="primary">Recientes</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="dispositivos()">
      <ion-icon name="logo-reddit" color="primary"></ion-icon>
      <ion-label color="primary">Dispositivos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="habitaciones()">
      <ion-icon name="expand" color="primary"></ion-icon>
      <ion-label color="primary">Habitaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="escenas()">
      <ion-icon name="play" color="primary"></ion-icon>
      <ion-label color="primary">Escenas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>