<ion-header>
    <ion-toolbar>
        <ion-title>luz</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <div class="contMedio"> 
        <ion-text color="primary" text-center>
            <h1>Luz principal</h1>
        </ion-text>
        <br><br><br>

        <ion-range min="0" max="100" step="2" pin="true" mode="md">
            <ion-icon size="small" slot="start" name="sunny"></ion-icon>
            <ion-toggle slot="end" color="primary" mode="ios"></ion-toggle>
        </ion-range>

        
    </div>

</ion-content>